@import "tailwindcss";

/* ================= LIGHT THEME ================= */
:root {
  --bg: #efeae2;
  --bg-primary: #ffffff;
  --bg-secondary: #f0f2f5;

  --card: #ffffff;
  --sidebar: #ffffff;

  --text-primary: #111b21;
  --text-secondary: #667781;
  --text-inverse: #ffffff;

  --primary: #25d366;
  --primary-hover: #1ebc57;
  --secondary-hover: #ffffff;

  --btn-primary-bg: var(--primary);
  --btn-primary-text: #ffffff;
  --btn-primary-hover: var(--primary-hover);

  --btn-outline-text: var(--primary);
  --btn-outline-border: var(--primary);

  --border: #e9edef;

  --shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* ================= DARK THEME ================= */
[data-theme="dark"] {
  --bg: #0b141a;
  --bg-primary: #111b21;
  --bg-secondary: #202c33;

  --card: #111b21;
  --sidebar: #111b21;

  --text-primary: #e9edef;
  --text-secondary: #8696a0;
  --text-inverse: #111b21;

  --primary: #25d366;
  --primary-hover: #1ebc57;
  --secondary-hover: #0c0b0b;

  --btn-primary-bg: var(--primary);
  --btn-primary-text: #ffffff;
  --btn-primary-hover: var(--primary-hover);

  --btn-outline-text: var(--primary);
  --btn-outline-border: var(--primary);

  --border: #2a3942;

  --shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

/* ================= BASE ================= */
body {
  background-color: var(--bg);
  color: var(--text-primary); 
  transition: all 0.3s ease;
}