PORT=3000
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/whatsappNodejsMessages
ACCESSTOKEN_SECRET=ACCESSTOKKEYSCRET
REFRESHTOKEN_SECRET=REFRESHTOKENSCERT
BCRYPT=number
NODE_ENV=production