PORT=3000
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:crickle@123@localhost:5432/whatsapp_nodejs_messages?schema=public
ACCESSTOKEN_SECRET=ACCESSTOKKEYSCRET
REFRESHTOKEN_SECRET=REFRESHTOKENSCERT
BCRYPT=number
NODE_ENV=production